include requirements.txt
include CHANGELOG
include LICENSE
include versioneer.py
include wolkenbruch/_version.py
include wolkenbruch.yml.example
include extras/systemd/wolkenbruch@.service
include extras/systemd/wolkenbruch@.timer
